@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* navbar */

.nav-shadow{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
}
.nav-category{
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}
.nav-category a{
    color: #181818;
    font-weight: 500;
    transition: 0.3s;
}   
.nav-category a:hover{
    color: #1ab69d;
}
.category-btn{
    color: #181818;
    font-size: 20px;
    border: none;
}
.category-btn:hover{
    color: #1ab69d;
}
.dropdown-txt{
    border: none !important;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    border-radius: 0;
}
.dropdown-txt li a{
    font-size: 18px;
    transition: 0.3s;
    width: 270px;
}
.dropdown-txt li a:hover{
    color: #1ab69d!important;
    background: #fff!important;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.mainmenu li a{
    color: #181818;
    font-size: 20px;
    font-weight: 400;
}
.mainmenu li a:hover{
    color: #1ab69d;
}
.drop-txt li a{
    font-size: 18px;
    transition: 0.3s;
    background-color: #fff!important;
}
.drop-txt i{
    transition: 0.3s;
}
.drop-txt li a:hover,.drop-txt i:hover{
    color: #1ab69d;
}
.badge2{
    background-color: #1ab69d;
}
.try-btn{
    color: #fff;
    background-color: #1ab69d;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.try-btn::after{
    content: '';
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    z-index: -1;
}
.try-btn:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.modal-backdrop.show{
    z-index: -1!important;
}

@media screen and (max-width:992px){
    .h-menu{
        flex-direction: column;
       align-items: center!important;
    }
    .menu-img{
        max-width: 100%;
        vertical-align: middle;
    }
}

/* hero-section */

.hero-breadcrumb li a{
    color: #181818;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
}
.hero-breadcrumb li a:hover{
    color: #1ab69d;
}

/* instructor-detail-section */

.instructor-social{
    transition: 0.3s linear;
}
.instructor-social li a{
    border: 1px solid #e5e5e5;
    color: #808080;
    transition: 0.3s;
    border-radius: 50%;
}
.instructor-social li{
    margin: 0px 5px;
}
.instructor-social li a:hover{
    color: #fff!important;
    background-color: #1ab69d!important;
}

/* questions-section */

.category-tabs-btn{
    color: #181818!important;
    font-weight: 500!important;
    padding: 5px 0px!important;
    text-align: start!important;
}
.category-tabs-btn:focus:not(:focus-visible){
    color: #1ab69d!important;
}
.accordion-button-1:not(.collapsed){
    background-color: #1ab69d!important;
    color: #fff!important;
}
@media screen and (max-width:991px){
    .category-tabs-btn{
        text-align: center!important;
    }
}

/* cta-section */

.cta-bg::before{
    content: "";
    inset: 0;
    background: url('../img/cta-bg.svg') no-repeat center bottom;
    background-size: cover;
    position: absolute;
    filter: brightness(0) saturate(100%) invert(52%) sepia(75%) saturate(451%) hue-rotate(121deg) brightness(96%) contrast(90%);
    width: 100%;
    height: 100%;
}
.started-btn{
    position: relative;
    color: #fff;
    background-color: #1ab69d;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    height: 60px;
    line-height: 62px;
    padding: 0 30px;
    transition: 0.3s;
    z-index: 1;
    overflow: hidden;
}
.started-btn::after{
    content: '';
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    z-index: -1;
}
.started-btn:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

/* footer-secrtion */

.mail:hover{
    color: #1ab69d!important;
}
.call:hover{
    color: #1ab69d!important;
}
.explore-menu li a{
    text-decoration: none;
    color: #bababa;
    font-size: 20px;
    padding: 3px 0px;
    display: inline-block;
    font-weight: 400;
    transition: 0.3s;
}
.explore-menu li a:hover{
    color: #1ab69d;
}
.subscribe-btn{
    color: #fff;
    background-color: #1ab69d;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.subscribe-btn::after{
    content: '';
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    z-index: -1;
}
.subscribe-btn:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}