@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* navbar */

.nav-shadow{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
}
.nav-category{
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}
.nav-category a{
    color: #181818;
    font-weight: 500;
    transition: 0.3s;
}   
.nav-category a:hover{
    color: #1ab69d;
}
.category-btn{
    color: #181818;
    font-size: 20px;
    border: none;
}
.category-btn:hover{
    color: #1ab69d;
}
.dropdown-txt{
    border: none !important;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    border-radius: 0;
}
.dropdown-txt li a{
    font-size: 18px;
    transition: 0.3s;
    width: 270px;
}
.dropdown-txt li a:hover{
    color: #1ab69d!important;
    background: #fff!important;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.mainmenu li a{
    color: #181818;
    font-size: 20px;
    font-weight: 400;
}
.mainmenu li a:hover{
    color: #1ab69d;
}
.drop-txt li a{
    font-size: 18px;
    transition: 0.3s;
    background-color: #fff!important;
}
.drop-txt i{
    transition: 0.3s;
}
.drop-txt li a:hover,.drop-txt i:hover{
    color: #1ab69d;
}
.badge2{
    background-color: #1ab69d;
}
.try-btn{
    color: #fff;
    background-color: #1ab69d;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.try-btn:hover{
    color: #fff;
    background-color: #1ab69d;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%);
}
.modal-backdrop.show{
    z-index: -1!important;
}

@media screen and (max-width:992px){
    .h-menu{
        flex-direction: column;
       align-items: center!important;
    }
    .menu-img{
        max-width: 100%;
        vertical-align: middle;
    }
}

/* hero-section */

.hero-bg{
    background: url('../img/about-us-01-hero-bg.webp')no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0px;
    z-index: 1;
}
.hero-bg::before{
    content: '';
    inset: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.hero-breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    color: #fff!important;
    font-weight: 500;
}
.hero-breadcrumb li{
    font-size: 20px;
    color: #fff!important;
    font-weight: 600;
}
.hero-breadcrumb li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff!important;
    font-weight: 500!important;
    transition: 0.3s;
}
.hero-breadcrumb li a:hover{
    color: #1ab69d!important;
}

/* instructor-section */

.instructor-box{
    position: relative;
    padding: 0 30px 36px;
    z-index: 1;
}
.instructor-box::after{
    content: "";
    height: 75%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px rgba(26,46,85,0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.instructor-social{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(26, 182, 157, 0.6);
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s!important;
}
.instructor-social ul li a{
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin-left: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    transition: 0.3s;
}
.instructor-social ul li:hover a{
    color: rgba(26, 182, 157, 0.7);
    background-color: #FFF;
}
.instructor-box:hover .instructor-social{
    opacity: 1;
}
.instructor-box a{
    text-decoration: none;
    color: #181818;
    transition: 0.3s;
}
.instructor-box a:hover{
    color: #1ab69d;
}

/* footer-secrtion */

.mail:hover{
    color: #1ab69d!important;
}
.call:hover{
    color: #1ab69d!important;
}
.explore-menu li a{
    text-decoration: none;
    color: #bababa;
    font-size: 20px;
    padding: 3px 0px;
    display: inline-block;
    font-weight: 400;
    transition: 0.3s;
}
.explore-menu li a:hover{
    color: #1ab69d;
}
.subscribe-btn{
    color: #fff;
    background-color: #1ab69d;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 0px 25px;
    border: none;
}
.subscribe-btn:hover{
    color: #fff;
    background-color: #1ab69d;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%);
}